@font-face{
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-Thin-Italic";
    src: url(../fonts/Raleway-Thin-Italic.ttf);
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Raleway-Regular';
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-weight: 400;
    text-transform: uppercase;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    font-weight: 400;
    margin-bottom: 0rem;
}
.title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.btn{
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 13px 30px ;
    transition: 1s;
}
.btn:focus{
    border: none;
    background-color: white;
    box-shadow: none;
    color: black;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
    
}
a{
    text-decoration: none;
}
a:hover{
    color: none;
    text-decoration: none;
}
input{
   border: none;
   width: 100%;
   border-bottom: 1px solid #d6d6d6;
}
input:focus {
    outline: none;
    border-bottom: 1px solid #ff9b51;
}
  input:focus + label{
    color: #ff9b51;
    top: -25px;
    transform: scale(0.85);
}
label{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d6d6d6;  
}



  
/*::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d6d6d6;
    padding: 0px 15px; /*только визуально сдвигает, но сам текст в импуте начинается без паддинга*/
  

/* header   */

.header{
    background-color: black;
    padding: 23px 150px;
}
.blocks .logo_header img{
    margin-bottom: 0px;
}

.blocks li {
    
    list-style: none;
    margin-right: 50px;
}
.blocks li:last-child{
    margin-right: 0px;
}
.blocks li p{
    font-family: 'OpenSans', sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.header .blocks{
    align-items: center;
    
}
.scale:hover{
   transform: scale(1.2);
}
.scale{
    transition: 1s;
}
dl, ol, ul {
    margin-bottom: 0rem;
}


/* section axit  */

.axit .blocks{
    align-items: flex-end;
}
.axit .modern_axure h2{
    color: white;
    margin-bottom: 75px;
}
.axit .section_header h2::after{
    background-color: #fff;
    left: 0px;
    bottom: -40px;
}
.modern_axure{
    width: 50%;
}
.registration{
    width: 33%;
}
.modern_axure .section_header{
    text-align: left;
}

.axit .modern_axure p{
    opacity: 0.8;
   width: 460px;
   margin-bottom: 45px;
}
.axit{
    background-image: url(../img/fon_section_axit.png);
}

.free_trial{
    background-color: #f5f5f5;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.axit .btns_block{
    display: flex;
    justify-content: left;
}

.axit .registration button{
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.axit .registration .send_message .btn{
    padding: 20px 13px;
}
.white_fon_registration{
    background-color: #ffffff;
    border-radius: 0px 0px 10px 10px;

}
.axit .white_fon_registration input{
    margin-bottom: 50px;
}
.form_registration {
    padding: 50px 37px 0px 37px;
}
.axit .title{
    color: #333333;
    padding: 20px 5px 20px;
}
.free{
    color: #ff8b38;
    text-transform: uppercase;
}
.axit .input_row{
    margin-bottom: 0px;
}
/* div social_media  */

.social_media{
    padding: 25px 140px;
   /* border-bottom: 1px solid #d6d6d6;    1 способ - не получилось задать тень линии*/
}
.social_logo .scale a{
    color: #cccccc;
     
}
.social_logo .scale{
    margin-right: 60px;
    font-size: 55px;
}
.social_logo .scale:last-child{
    margin-right: 0px;
}
.social_media_text{
    width: 370px;
}
.social_media .blocks .social_media_block_left .title {
    color: #333333;
    margin-bottom: 6px;
}
.social_media .blocks{
    align-items: center;
}
.social_media::after{                   /* 2 способ, задал тень, но слишком много текста нужно прописывать, неудобно*/
    content: "";
    display: block;
    width: 125.6%;
    height: 1px;
    background-color: #d6d6d6;
    position: relative;
    right: 140px;
    bottom: -25px;
    box-shadow: 0px 1px 1px 1px #d6d6d6;
}



/* section tabs   */

.tabs{
    background-color: #f5f5f5;
}
.padding_none{
    padding-right: 0px;
    padding-left: 0px;
    padding: 0rem;
}
.tabs .row .radius_top {
    border-radius: 5px 5px 0px 0px;
}
.tabs .row .radius_bottom{
    border-radius: 0px 0px 5px 5px;
}

.tabs_cub_tow .black_section {
    text-transform: uppercase;
    padding: 45px 5px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    transition: 1s;
}
.tabs_cub_tow .black_section p{
    font-size: 14px;
}
.tabs_cub_tow .black_section{
    border-radius: 0rem;
}
.tabs .black_section:hover{
    background-color: #86878b;
}
/*.tabs .black_section:focus{
    background-color: #ff9b51;
    
}
*/

.button_download{
    background-color: #ff8b38;
    padding: 15px 25px;
    box-shadow: 1px 1px 5px 0.5px #d6d6d6;
    border: none
}

.btn-primary:hover {
    color: #fff;
    background-color: #333333;
    
}
.btn-primary:focus{
    color: #fff;
    background-color: #333333;
}

.tabs_text .title{
    color: black;
    margin-bottom: 55px;
}
.text{
    margin-bottom: 50px;
}
.city_tabs{
    padding: 25px 0px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {  /*Скорее всего не так, другой вариант в комментах выше*/
    color: #fff;
    background-color: #ff8b38;
}


/* section awesome  */

section{
    padding: 100px 140px 95px 140px;
}
.section_header{
    text-align: center;
}
.section_header h2{
    position: relative;
    margin-bottom: 50px;
}
.section_header h2::after{
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8c2c;
    position: absolute;
    left: calc(50% - 32px);
    bottom: -24px;
    

}
.section_header p{
     margin-bottom: 75px;
}
.blocks{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}
.one_block{
    text-align: center;
    width: 30%;
    
}
.one_block .title{
    /*font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;*/
    color: #333333;
    margin-bottom: 21px;
    
    

}

.blocks img{
    margin-bottom: 21px;
}

/* section pricing_options*/

.block_pricing_options{
    background-color: #f5f5f5;
}
.black_section{
 background-color: #303030;

}
.block_pricing_options .one_block p{
    padding: 13px 0px; 
    border-top: 1px solid #f5f5f5;
}
.price {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 75px;
    color: #ffffff;
}

.black_section .content_price p{
    padding: 18px 0px 0px;
    
}
.black_section .title {
    color: #ffffff; /*как убрать нижний отступ?*/
    margin-bottom: 0px;
}



.open_sans_lang {
    font-weight: 600;
    line-height: 24px;
    font-style: italic;
}
.Orange_section{
    background-color: #ff8c2c;
    height: 5px;
    width: 100%;
    
}
.block_pricing_options .orange_title p{
    border-top: none;
    line-height: 14px;
    text-transform: uppercase;
    font-size: 14px;
    
}
.orange_title  {
    background-color: #ff8c2c; 
}
.orange_title .title{
    color: #ffffff;
    margin-bottom: 0px;
    

}
.white_section{
    background-color: #ffffff;
    text-transform: uppercase;
}
.block_pricing_options .section_header p{
    margin-bottom: 80px;
}




/* section comments*/

.blocks_avatar_name{
    display: flex;
    align-items: center;
}
.blocks_avatar_name .photo img{
    margin-bottom: 0px;
}
.comment_name{
    padding: 0px 0px 0px 15px;
}
.comments .title{
    color: #333333;
}
.comment_text{
    width: 26%
}
.window_text_comment{
    position: relative;
    width: 275px;
    background-color: #f5f5f5;
    border-radius: 5px;
    bottom: 25px;
    padding: 25px 12px;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
	
}
.window_text_comment::before{
    content: " ";
    position: absolute;
    width: 0; 
    height: 0; 
    left: 20px; 
    top: 100%;
    border: 15px solid transparent;
    border-top-color:#f5f5f5;
    
}




/* section stylish_axure_design*/


.stylish_axure_design{
    background-image: url(../img/fon.png);
    background-size: cover;
    padding: 75px 0px 60px;
}
.stylish_axure_design .section_header h2{
    color: #ffffff;
}
.stylish_axure_design .section_header h2::after{
  background-color: #ffffff;
}
.stylish_axure_design .section_header p{
    opacity: 0.8;
    margin-bottom: 35px;
}
.btns_block{
    display: flex;
    justify-content: center;
    
}
.btns_block .btn:hover{
    background-color: #ffffff;
    /*color: black;*/
    
}


/* section contact_us  */

.contact_us{
    text-align: center;
}
.contact_us .information{
    width: 46%;
}
.blocks_information{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}

textarea{
    
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    resize: none;
    line-height: 17px;
}
.information .message{
    position: relative;
}
.information .message label{
    position: absolute;
    left: 13px;
    /*top: 0px;*/
    transition: top 0.5s;
    top: -5px;
}
textarea:focus {
    outline: none;
    border-bottom: 1px solid #ff9b51;
}
.message textarea:focus + label{
    color: #ff9b51;
    top: -25px;
    transform: scale(0.85);
}
textarea:focus{
    outline: none;
}
.input_row{
    position: relative;
    margin-bottom: 48px;
}

.send_message .btn{
    background-color: #ff9b51;
    border-radius: 5px;
    border: 2px solid #ff9b51;
    
}

button:focus{
    outline: none;
}
.send_message button:hover{
    background-color: #212121;
    transition: 1s;
    color: white;
    border-color:#212121;
    
}

.input_row label{
    position: absolute;
    left: 13px;
    top: 0px;
    transition: top 0.5s;
    top: -5px;
}

/*   footer  */

.footer{
    background-image: url(../img/Footer\ Panel.png);
    text-align: center;
    padding: 35px 0px 15px;
}
.sprite{
   background-image: url(../img/logo.png);
   background-repeat: no-repeat;
   display: inline-block;
   
}

.facebook{
    width: 30px;
    height: 30px;
    background-position: -25px -25px;
}
.twitter{
    width: 40px;
    height: 30px;
    background-position: -25px -25px;
}
.gmail{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.pirescope{
    width: 42px;
    height: 30px;
    background-position: -25px -25px;
}
.instagram{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.hz{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.wifi{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.footer p{
    color: #ffffff;
    font-size: 12px;
    opacity: 0.5;
}
.footer .scale:hover{
    transform: scale(1.13);
}