@font-face{
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-Thin-Italic";
    src: url(../fonts/Raleway-Thin-Italic.ttf);
}
@font-face {
    font-family: 'Raleway-Light';
    src: url(../fonts/Raleway-Light.ttf);
}
*{
    margin: 0;
    padding: 0;
}
h2{
    font-family: 'Raleway-Regular';
    font-size: 36px;
    line-height: 43px;
    color: #212121;
    font-weight: 400;
    text-transform: uppercase;
    
}
p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #86878b;
    line-height: 20px;
    font-weight: 400;
}
.title{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}
.btn{
    font-family: 'OpenSans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    padding: 13px 30px ;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    
}
section{
    padding: 100px 140px 95px 140px;
}
.section_header{
    text-align: center;
}
.section_header h2{
    position: relative;
    margin-bottom: 50px;
}
.section_header h2::after{
    content: "";
    display: block;
    width: 64px;
    height: 2px;
    background-color: #ff8c2c;
    position: absolute;
    left: calc(50% - 32px);
    bottom: -24px;
    

}
.section_header p{
     margin-bottom: 75px;
}
.blocks{
    display: flex;
    justify-content: space-between;
   
    
    
}
.one_block{
    text-align: center;
    width: 30%;
    
}
.one_block .up{
    position: relative;
    bottom: 40px;
}
.one_block .title{
    /*font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 24px;
    font-weight: 700;*/
    color: #333333;
    margin-bottom: 21px;
    
    

}

.blocks img{
    margin-bottom: 21px;
}

/* section pricing_options*/

.block_pricing_options{
    background-color: #f5f5f5;
}
.black_section{
   background-color: #303030;

}
.one_block p{
    padding: 13px 0px; 
}
.price {
    font-family: 'Merriweather', serif;
    font-size: 60px;
    line-height: 70px;
    color: #ffffff;
}

.black_section .content_price p{
    padding: 18px 0px 0px;
    
}
.black_section .title {
    color: #ffffff; /*как убрать нижний отступ?*/
    margin-bottom: 0px;
}
.black_section .open_sans_lang p{
    font-weight: 600;
    line-height: 24px;

}
.Orange_section{
    background-color: #ff8c2c;
    height: 5px;
    width: 100%;
}
.orange_title  {
    background-color: #ff8c2c;   
}
.white_section{
    background-color: #ffffff;
    text-transform: uppercase;
}
.block_pricing_options .section_header p{
    margin-bottom: 118px;
}


/* section stylish_axure_design*/


.stylish_axure_design{
    background-image: url(../img/fon.png);
    background-size: cover;
    padding: 75px 0px 60px;
}
.stylish_axure_design .section_header h2{
    color: #ffffff;
}
.stylish_axure_design .section_header h2::after{
  background-color: #ffffff;
}
.stylish_axure_design .section_header p{
    opacity: 0.8;
    margin-bottom: 35px;
}
.btns_block{
    display: flex;
    justify-content: center;
}

/*   footer  */

.footer{
    background-image: url(../img/Footer\ Panel.png);
    text-align: center;
    padding: 35px 0px 15px;
}
.sprite{
   background-image: url(../img/logo.png);
   background-repeat: no-repeat;
   display: inline-block;
   
}

.facebook{
    width: 30px;
    height: 30px;
    background-position: -25px -25px;
}
.twitter{
    width: 40px;
    height: 30px;
    background-position: -25px -25px;
}
.gmail{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.pirescope{
    width: 42px;
    height: 30px;
    background-position: -25px -25px;
}
.instagram{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.hz{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.wifi{
    width: 50px;
    height: 30px;
    background-position: -25px -25px;
}
.footer p{
    color: #ffffff;
    font-size: 12px;
    opacity: 0.5;
}